In [1]:
import os,glob,sys,time
import shutil
import numpy as np
sys.path.append(r"E:\Users\puzheng\Documents")
import ImageAnalysis3 as ia3

In [10]:
import pandas as pd

In [9]:
!dir

 Volume in drive E is USERDATA
 Volume Serial Number is 6450-3438

 Directory of E:\Users\puzheng\Documents\Merfish_analysis\Merfish_Analysis_Scripts\merlin_parameters\codebooks

05/28/2022  01:38 AM    <DIR>          .
05/28/2022  01:38 AM    <DIR>          ..
08/25/2021  01:47 PM                24 empty_codebook.csv
05/24/2022  01:55 PM           454,742 human_STG_250gene.csv
08/22/2021  06:08 PM            17,768 M1_codebook.csv
09/20/2021  05:09 PM            11,107 M1_codebook_no_bit7-8_clean.csv
09/06/2021  06:35 PM            16,746 M1_codebook_no_bit7-8_not_clean.csv
08/22/2021  06:08 PM           126,293 test_Aaron_WB2_32bit_codebook.csv
               6 File(s)        626,680 bytes
               2 Dir(s)  1,215,888,683,008 bytes free

In [13]:
raw_codebook = pd.read_csv(r'..\merlin_parameters\codebooks\human_STG_250gene.csv')
raw_codebook

,name,id,RS0015,RS0083,RS0095,RS0109,RS0175,RS0237,RS0247,RS0255,...,RS1334,RS3505,RS1470,RS1520,RS4216,RS4324,RS4341,RS4351,RS4363,RS4365
0,SORBS2,ENST00000462661.1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NTNG1,ENST00000294649.8,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,FBN2,ENST00000262464.8,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
3,PAX6,ENST00000533333.5,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ADAMTS6,ENST00000381055.7,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,Blank-3886,NaN,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4136,Blank-3887,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4137,Blank-3888,NaN,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4138,Blank-3889,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4139,Blank-3890,NaN,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
bit_columns = [_n for _n in list(raw_codebook.columns) if 'RS' in _n]
raw_codebook.sort_index(axis=1)

,RS0015,RS0083,RS0095,RS0109,RS0175,RS0237,RS0247,RS0255,RS0307,RS0332,...,RS1520,RS3505,RS4216,RS4324,RS4341,RS4351,RS4363,RS4365,id,name
0,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,ENST00000462661.1,SORBS2
1,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,ENST00000294649.8,NTNG1
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,ENST00000262464.8,FBN2
3,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,ENST00000533333.5,PAX6
4,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,ENST00000381055.7,ADAMTS6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Blank-3886
4136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Blank-3887
4137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,NaN,Blank-3888
4138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Blank-3889
4139,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Blank-3890

In [24]:
bit_columns = [_n for _n in sorted(bit_columns, key=lambda _v:int(_v.split('RS')[1]))]

In [26]:
sorted_columns = ['name', 'id'] + bit_columns

In [28]:
sorted_codebook = raw_codebook[sorted_columns]

In [29]:
raw_codebook.columns

Index(['name', 'id', 'RS0015', 'RS0083', 'RS0095', 'RS0109', 'RS0175',
       'RS0237', 'RS0247', 'RS0255', 'RS0307', 'RS0332', 'RS0343', 'RS0384',
       'RS0406', 'RS0451', 'RS0468', 'RS0548', 'RS0578', 'RS0584', 'RS0639',
       'RS0707', 'RS0708', 'RS0730', 'RS0763', 'RS0793', 'RS0805', 'RS0896',
       'RS0820', 'RS0994', 'RS0996', 'RS0967', 'RS1040', 'RS1047', 'RS1199',
       'RS1316', 'RS1312', 'RS1261', 'RS1326', 'RS1404', 'RS1334', 'RS3505',
       'RS1470', 'RS1520', 'RS4216', 'RS4324', 'RS4341', 'RS4351', 'RS4363',
       'RS4365'],
      dtype='object')

In [30]:
for _n in bit_columns:
    print(_n)

RS0015
RS0083
RS0095
RS0109
RS0175
RS0237
RS0247
RS0255
RS0307
RS0332
RS0343
RS0384
RS0406
RS0451
RS0468
RS0548
RS0578
RS0584
RS0639
RS0707
RS0708
RS0730
RS0763
RS0793
RS0805
RS0820
RS0896
RS0967
RS0994
RS0996
RS1040
RS1047
RS1199
RS1261
RS1312
RS1316
RS1326
RS1334
RS1404
RS1470
RS1520
RS3505
RS4216
RS4324
RS4341
RS4351
RS4363
RS4365

In [31]:
24/3

8.0

In [33]:
(24-3)

21

In [34]:
7*16+3

115

In [ ]:
115-3